<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }} " >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <title>Wordsly</title>
</head>
<body>
    <h1 id="heading">Wordsly</h1>
    <section class="word-bubbles">
        <ul class="word-bubble-rows" id="wb-row-1">
            <!-- bubble/letter in row 1, position 1-->
            <li class="bubble" id="bubble-1.1">
                <h1 id="letter-1.1"></h1>
            </li>
            <!-- bubble/letter in row 1, position 2-->
            <li class="bubble" id="bubble-1.2">
                <h1 id="letter-1.2"></h1>
            </li>
            <!-- bubble/letter in row 1, position 3-->
            <li class="bubble" id="bubble-1.3">
                <h1 id="letter-1.3"></h1>
            </li>
            <!-- bubble/letter in row 1, position 4-->
            <li class="bubble" id="bubble-1.4">
                <h1 id="letter-1.4"></h1>
            </li>
            <!-- bubble/letter in row 1, position 5-->
            <li class="bubble" id="bubble-1.5">
                <h1 id="letter-1.5"></h1>
            </li>
        </ul>
        <br />
        <ul class="word-bubble-rows" id="wb-row-2">
            <!-- bubble/letter in row 2, position 1-->
            <li class="bubble" id="bubble-2.1">
                <h1 id="letter-2.1"></h1>
            </li>
            <!-- bubble/letter in row 2, position 2-->
            <li class="bubble" id="bubble-2.2">
                <h1 id="letter-2.2"></h1>
            </li>
            <!-- bubble/letter in row 2, position 3-->
            <li class="bubble" id="bubble-2.3">
                <h1 id="letter-2.3"></h1>
            </li>
            <!-- bubble/letter in row 2, position 4-->
            <li class="bubble" id="bubble-2.4">
                <h1 id="letter-2.4"></h1>
            </li>
            <!-- bubble/letter in row 2, position 5-->
            <li class="bubble" id="bubble-2.5">
                <h1 id="letter-2.5"></h1>
            </li>
        </ul>
        <br />
        <ul class="word-bubble-rows" id="wb-row-3">
            <!-- bubble/letter in row 3, position 1-->
            <li class="bubble" id="bubble-3.1">
                <h1 id="letter-3.1"></h1>
            </li>
            <!-- bubble/letter in row 3, position 2-->
            <li class="bubble" id="bubble-3.2">
                <h1 id="letter-3.2"></h1>
            </li>
            <!-- bubble/letter in row 3, position 3-->
            <li class="bubble" id="bubble-3.3">
                <h1 id="letter-3.3"></h1>
            </li>
            <!-- bubble/letter in row 3, position 4-->
            <li class="bubble" id="bubble-3.4">
                <h1 id="letter-3.4"></h1>
            </li>
            <!-- bubble/letter in row 3, position 5-->
            <li class="bubble" id="bubble-3.5">
                <h1 id="letter-3.5"></h1>
            </li>
        </ul>
        <br />
        <ul class="word-bubble-rows" id="wb-row-4">
            <!-- bubble/letter in row 4, position 1-->
            <li class="bubble" id="bubble-4.1">
                <h1 id="letter-4.1"></h1>
            </li>
            <!-- bubble/letter in row 4, position 2-->
            <li class="bubble" id="bubble-4.2">
                <h1 id="letter-4.2"></h1>
            </li>
            <!-- bubble/letter in row 4, position 3-->
            <li class="bubble" id="bubble-4.3">
                <h1 id="letter-4.3"></h1>
            </li>
            <!-- bubble/letter in row 4, position 4-->
            <li class="bubble" id="bubble-4.4">
                <h1 id="letter-4.4"></h1>
            </li>
            <!-- bubble/letter in row 4, position 5-->
            <li class="bubble" id="bubble-4.5">
                <h1 id="letter-4.5"></h1>
            </li>
        </ul>
        <br /> 
        <ul class="word-bubble-rows" id="wb-row-5">
            <!-- bubble/letter in row 5, position 1-->
            <li class="bubble" id="bubble-5.1">
                <h1 id="letter-5.1"></h1>
            </li>
            <!-- bubble/letter in row 5, position 2-->
            <li class="bubble" id="bubble-5.2">
                <h1 id="letter-5.2"></h1>
            </li>
            <!-- bubble/letter in row 5, position 3-->
            <li class="bubble" id="bubble-5.3">
                <h1 id="letter-5.3"></h1>
            </li>
            <!-- bubble/letter in row 5, position 4-->
            <li class="bubble" id="bubble-5.4">
                <h1 id="letter-5.4"></h1>
            </li>
            <!-- bubble/letter in row 5, position 5-->
            <li class="bubble" id="bubble-5.5">
                <h1 id="letter-5.5"></h1>
            </li>
        </ul>
    </section>
    <button type="submit" name="submit">Submit</button>
</body>
</html>